<form method="post" id="quizz"></form>

<script>


const createQuestion = ({ question, answer, options, explanation }, i) => {
  const field = document.createElement('fieldset')
  field.innerHTML = `<legend>Question ${i}</legend>
    <p>${question}</p>
    ${ options.map((option) =>
       `<div>
      <input type="radio" id="option-${option}" name="answer${i}" value="${option}" onclick="checkAns('${option}', '${answer}','${explanation}', ${i})">
      <label for="option-${option}">${option}</label>
      
    </div>`).join('') }
    `
   const divRes = document.createElement('div')  
   divRes.setAttribute("id", "respons-"+i)
   const divExp = document.createElement('div')  
   divExp.setAttribute("id", "explanation-"+i)

   field.append(divRes)
   field.append(divExp)
   
   

   return field;
}
function checkAns(option, answer, explanation, i){
    const respons = document.getElementById("respons-" +i)
    const exp = document.getElementById("explanation-" +i)
    if(option == answer){
      respons.textContent = "rætt"
      exp.textContent = explanation 
    }else{
      respons.textContent = "feil"
    }

}

async function createQuizz() {
  const form = document.getElementById('quizz')
    await parseJson().then( selected => {
      selected.forEach((question, i) => 
      {
        const field = createQuestion(question, i + 1)
        form.appendChild(field)
        
      })
   })

}
async function parseJson(size, domain){
  fs.readFile('public/test.json', (err, data) => {
    if (err) throw err;
    let rawJson = JSON.parse(data);
    let json = []
    //TODO hent domene
    switch(domain) {
      case "domain1":
        json = rawJson.domains[0]
        break;
      case "domain2":
        json = rawJson.domains[1]
        break;
      case "domain3":
        json = rawJson.domains[2]
        break;
      case "all":
        for (var i = 0; i < rawJson.domains.length; i++) {
          json.push(rawJson.domains[i])
        } 
        //console.log(json)
        break;
        
        
      default:
        //TODO 
    }
    
    let combinedJson = []
    let questions
    json.forEach(element => {
      questions = Object.values(element)
      questions.forEach(ques => {
          combinedJson.push(ques)
      })
    });
   
    const shuffled = shuffleArray(combinedJson)
    

    //console.log(questions)
    //slice list
    let list = shuffled.slice(0, size);
    return list
  });
  
}
function shuffleArray(array) {
    for (var i = array.length - 1; i > 0; i--) {
        var j = Math.floor(Math.random() * (i + 1));
        var temp = array[i];
        array[i] = array[j];
        array[j] = temp;
    }
    return array
}
createQuizz()
</script>
